/*-- scss:rules --*/

body {
  font-size: 1.1em; /* Adjust this value as needed for dark theme */
}

ul, ol {
  font-size: inherit;
  line-height: 1.6;
}

li {
  font-size: inherit;
  margin-bottom: 0.5em; /* Optional: Add space between list items */
}